<script src="forgotPassword/js/forgotPasswordController.js" type="text/javascript"></script>
<div class="body-container">
</div>

<div class="center">
    <div class="col-lg-offset-4 col-lg-3 col-xl-offset-4 col-xl-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 login-theme-wrapper">
        <div class="row">
            <div class="col-md-12 logo-img">
                <img src="commons/images/logo.png" alt=""/>
            </div>
        </div>


        <form name="forgotPasswordForm" ng-hide="emailSent" class="login-container">
            <div class="row login-header">
                <div class="col-md-12">
                    <p class="text-center text-capitalize">
                        Reset Password
                    </p>
                </div>
            </div>
            <div class="row login-content">



                <!--<div class="row">-->
                <div class="login-error-container" ng-class="{'fade-in':serverError}" ng-show="serverError">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert"> 
                            <a class="close close-alert" data-dismiss="alert" 
                               aria-label="close" ng-click="serverError = '';">&times;</a>
                            Please recheck your email.
                        </div>
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="row">-->
                <div class="col-md-12 input-icons margin-bottom-10 input-icons" 
                     ng-class="{'error': emailError}">
                    <input type="text" class="form-control" placeholder="Email to reset password" ng-required="true"
                           name="email" ng-model="forgotPasswordObj.email" autocomplete="true">
                    <i class="fa fa-user"></i>
                </div>
                <!--</div>-->
                <!--<div class="row">-->
                <div class="col-md-12 text-center margin-top-10 margin-bottom-10">
                    <a type="submit" class="btn-large login-btn waves-effect waves-light" ng-click="requestForgotPasswordCode()">
                        SUBMIT
                    </a>
                </div>
                <!--</div>-->
                <!--<div class="row">-->
                <div class="col-md-12 text-center">
                    <h5><a class='link-border-fade' ui-sref="login"><b>Back to login</b></a></h5>
                </div>
                <!--</div>-->

            </div>




            <!--                <div class="col-md-12 text-center margin-top-10 margin-bottom-10">
                                <input type="submit" class="btn login-btn" value="SUBMIT" ng-click="requestForgotPasswordCode()">
                            </div>-->



        </form>
        <div name="emailSentForm" ng-show="emailSent" class="login-container">
            <div class="row login-content text-center">
                <img src="commons/images/check.png" alt=""/>
                <div class="row margin-top-10"><h5><b>E-mail has been successfully sent.</b></h5></div>
                <div class="row"><h5><b>Please check your e-mail or <a class='link-border-fade' ng-click="requestForgotPasswordCode()">resend</a>.</b></h5></div>
                <div class="row"><h5><a class='link-border-fade' ui-sref="login" > <b>Back to login</b></a></h5></div>
            </div>
        </div>
    </div>

</div>
