<script src="configuration/js/calendarController.js"></script>
<script src="configuration/js/checkShiftController.js"></script>

<div class="lm-container-holder">
    <div class="lm-container">

        <div class="row entity-title margin-bottom-15">
            <p>{{'WORK_CALENDAR'| translate}}</p>
        </div>
        <form name="calendarForm" novalidate >
            <div  super-user>
                <div class="error-container">
                    <div ng-show="calendarForm.hubId.$error.required && afterSubmit">{{'BUILDING'| translate}}{{ 'REQUIRED' | translate}} *</div>
                    <div ng-hide="calendarForm.hubId.key">{{serverError.hubId}}</div>
                </div>
                <select ng-change="changeBuilding()" class="form-control margin-bottom-15" name="hubId" ng-model="hubId"
                        ng-options="hub.id  as hub.name for hub in buildingList" ng-required="userInfoService.isSuperUser()"
                >
                    <option value="">{{'SELECT_BUILDING'|translate}}*</option>
                </select>
            </div>
            <fieldset authorized-block privilege-name="editcalendar" rendering-option="disable">
            <div ng-hide="userInfoService.isSuperUser() && !hubId">
                <div class="panel">
                    <div class="entity-title margin-bottom-10">
                        <p>{{'SET_WORKING_DAYS'| translate}}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 list-days margin-bottom-30">
                                <ul class="list-group list-unstyled">
                                    <li class="list-group-item text-capitalize" ng-repeat="day in days"
                                        ng-class="{ 'selected': day.id === selectedDay.id }"
                                        ng-click="selectDay($index)">
                                        {{ day.dayName| uppercase | translate}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-8 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12"
                                 id="calendar_side_controls">
                                <div class="row margin-bottom-30">
                                    <div class="col-md-12">
                                        <h5 class="text-capitalize pull-left text-capitalize"><b>{{ 'WORKING_DAYS' | translate }} : </b>
                                        </h5>
                                        <h5 ng-repeat="day in days| filter: {'status' : 'working'}:true"
                                            class="pull-left dash-after text-capitalize">
                                            {{ day.dayName| uppercase | translate}}</h5>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <h5 class="text-capitalize pull-left"><b>{{ 'NON_WORKING_DAYS' | translate }}
                                            : </b>
                                        </h5>
                                        <h5 ng-repeat="day in days| filter: {'status' : 'non-working'}:true"
                                            class="pull-left dash-after text-capitalize">
                                            {{ day.dayName | uppercase | translate}}
                                        </h5>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="margin-bottom-10">
                                            {{'SET_SEL_DAY_W_N'| translate}}
                                        </p>
                                        <div>
                                            <input class="pull-left" type="radio" value="working"
                                                   ng-model="selectedDay.status"
                                                   ng-change="changeDayState()">
                                            <h5 class="side-label">{{'SET_WORK'| translate}}</h5>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <input class="pull-left" type="radio" value="non-working"
                                                   ng-model="selectedDay.status"
                                                   ng-change="changeDayState()">
                                            <h5 class="side-label">{{'SET_NON_WORK'| translate}}</h5>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="entity-title margin-bottom-10">
                        <p>{{'SET_WORKING_SHIFTS'| translate}}</p>
                    </div>
                    <div class="col-md-12 margin-top-10 margin-bottom-10">
                        <button class="btn lm-btn blue-btn" ng-if="shifts.length <= 6"
                                ng-click="addNewShift()"
                                ng-disabled="(calendarForm.$invalid || disabled) || edited">
                            <i class="fa fa-plus"></i>
                            <strong>{{'ADD_SHIFT'| translate}}</strong>
                        </button>
                        <div class="error-holder">
                            <div ng-repeat="shift in shifts">
                                <div class="error-container">
                                    <div ng-show="calendarForm['from' + 'shift' + $index].$error.time">
                                        {{'ENTER_DATE'| translate}}
                                    </div>
                                    <div ng-show="!calendarForm['from' + 'shift' + $index].$error.time && calendarForm['from' + 'shift' + $index].$invalid">
                                        {{'SHIFT_OCCURS'| translate}}
                                    </div>
                                    <div ng-show="calendarForm['to' + 'shift' + $index].$error.required">
                                        {{'ENTER_DATE'| translate}}
                                    </div>
                                    <div ng-show="!calendarForm['to' + 'shift' + $index].$error.required && !calendarForm['to' + 'shift' + $index].$error.time && calendarForm['to' + 'shift' + $index].$invalid">
                                        {{'SHIFT_LESS'| translate}}
                                    </div>
                                    <div ng-repeat="error in serverError">
                                        <div ng-show="error === shift.id">{{'ERROR'| translate}}</div>
                                    </div>
                                    <div>{{serverErrorObj[shift.id]}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 form-group">
                        <table class="table table-hover transparent-input table-responsive shifts-table">
                            <thead>
                            <tr>
                                <th class="col-md-4 col-sm-4 col-xs-4">
                                    <div>{{'FROM' | translate}}</div>
                                </th>
                                <th class="col-md-4 col-sm-4 col-xs-4">
                                    <div>{{'TO' | translate}}</div>
                                </th>
                                <th class="col-md-4 col-sm-4 col-xs-4">
                                    <div>{{'ACTIONS' | translate}}</div>
                                </th>
                            </tr>
                            </thead>


                            <tr ng-repeat="shift in shifts" ng-click="privileged && selectRow($index)">
                                <td class="col-md-4 col-sm-4 col-xs-4">
                                    <div uib-timepicker show-meridian="true" name="fromshift{{$index}}"
                                         show-spinners="false" ng-disabled="editedField == null || editedField !=$index"
                                         ng-model="shift.from" ng-change="checkToShift(shifts, shift, $index)"
                                         ng-class="{focus:editedField === $index,
                                        focus_error:(calendarForm['from' + 'shift' + $index].$invalid || calendarForm['to' + 'shift' + $index].$invalid)}"
                                    >
                                    </div>
                                </td>
                                <td class="col-md-4 col-sm-4 col-xs-4">
                                    <div uib-timepicker show-meridian="true" name="toshift{{$index}}"
                                         show-spinners="false"
                                         ng-required="shift.from"
                                         ng-disabled="editedField == null || editedField !=$index || !shift.from"
                                         ng-model="shift.to" ng-change="checkToShift(shifts, shift, $index)"
                                         ng-class="{focus:editedField === $index,
                                    focus_error:(calendarForm['from' + 'shift' + $index].$invalid || calendarForm['to' + 'shift' + $index].$invalid)}"
                                    ></div>
                                </td>
                                <td class="col-md-4 col-sm-4 col-xs-4">
                                    <a class="actions-icons custom-fa" id="deleteShift" ng-show="editedField != $index"
                                       authorized-block privilege-name="editcalendar"
                                       ng-click="calendarForm.$valid  && !edited && removeShift(shifts, $index); $event.stopPropagation()">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                    <a class="actions-icons custom-fa" id="editShift" authorized-block
                                       privilege-name="editcalendar"
                                       ng-show="editedField == $index && (calendarForm['from' + 'shift' + $index].$valid && calendarForm['to' + 'shift' + $index].$valid) && (shift.from!='' && shift.to!='')
                                    && (shift.from!=null && shift.to!=null)"
                                       ng-click="checkActiveVehicleAffect(shift,$index)">
                                        <span class="fa fa-check green-check"></span>
                                    </a>
                                    <a class="actions-icons custom-fa" id="resetShift" ng-show="editedField == $index"
                                       authorized-block privilege-name="editcalendar"
                                       ng-click="resetShift($index)">
                                        <span class="fa fa-close red-close"></span>
                                    </a>

                                </td>
                            </tr>
                        </table>


                    </div>

                </div>
            </div>

            </fieldset>
        </form>
    </div>
</div>
