<div class="statistics-box teal round-corners" id="packageCategoryBox">
    <div class="stat-box-body">
        <div class="pull-left margin-top-10 custom-select white-select" id="categoriesDashboardSelect">
            <span class="selector-arrow selector-sort"></span>
            <select ng-model="selectedCategory" ng-change="getPackageCategoryData()"
                    ng-options="type.packageTypeId  as type.packageType | translate for type in packageTypes">
                <option  value="">{{'PACKAGE_TYPE'|translate}}</option>
            </select>
        </div>
        <div class="pull-right margin-top-10 margin-bottom-10 custom-select underlined-select white-select">
            <span class="selector-arrow selector-caret"></span>
            <select class="material-select" ng-model="selectedTimeInterval"
                    ng-change="getPackageCategoryData()"
                    ng-options="timeInterval as timeInterval | translate for timeInterval in timeIntervals">
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="row margin-bottom-20">
            <div class="col-xs-12 white" id="categoriesDashboardPackagesTotal">
                <div><h2 class="no-margin">{{ chartObj.data[0] | sum }} {{"PACKAGES"| translate}}</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 chart-container" > 
                <canvas id="bar" class="chart chart-bar"
                        chart-data="chartObj.data" chart-labels="chartObj.labels"
                        chart-dataset-override="chartObj.datasets" chart-options="chartObj.options">
                </canvas>
            </div>
        </div>
    </div>
</div>