<form name="returnList" click-outside="isPopupVisible = false">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group margin-bottom-3 input-group">
                <input  class="form-control search-placeholder" type="text" ng-model="searchObj.packageTrackingNumber" name="generalSearch" ng-change="filter()" ng-pattern="/^\d+$/" placeholder="&#xf002; {{'SEARCH'| translate}}" />
                <span class="input-group-btn">
                    <button class="btn btn-default btn-primary list-search-dropdown-button no-border-radius" ng-click="isPopupVisible = !isPopupVisible">{{'FILTER'| translate}} <span class="caret"></span></button>
                </span>
                <div class="list-search-panel-container" ng-show="isPopupVisible">
                    <div class="mp container-fluid" ng-class="{'active':isPopupVisible}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center no-padding-bottom">
                                    <div class="error-container"> 
                                        <div ng-show = "scheduleList.id.$error.pattern">{{'DEVICE_ID'| translate}}</div>
                                    </div>
                                    <input  class="form-control" type="text" ng-model="searchObj.id" name="id" ng-pattern="/^\d+$/" placeholder="{{'REQUEST_ID'| translate}}" />
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center no-padding-bottom">
                                    <div class="error-container"> 
                                        <div ng-show = "scheduleList.id.$error.pattern">{{'BUILDING_NAME'| translate}}</div>
                                    </div>
                                    <input  class="form-control" type="text" ng-model="searchObj.id" name="id" ng-pattern="/^\d+$/" placeholder="{{'SENDER_NAME'| translate}}" />
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center no-padding-bottom">
                                    <div class="error-container"> 
                                        <div ng-show = "scheduleList.id.$error.pattern">{{'COUNTRY'| translate}}</div>
                                    </div>
                                    <input  class="form-control" type="text" ng-model="searchObj.id" name="id" ng-pattern="/^\d+$/" placeholder="{{'SENDER_MOBILE'| translate}}" />
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center no-padding-bottom">
                                    <div class="error-container"> 
                                        <div ng-show = "scheduleList.id.$error.pattern">{{'INVALID_ID'| translate}}</div>
                                    </div>
                                    <input  class="form-control" type="text" ng-model="searchObj.id" name="id" ng-pattern="/^\d+$/" placeholder="{{'RETURN_ADDRESS'| translate}}" />
                                </div>
                            </div>    
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="center">
                                    <h4><b>{{'RETURN_DATE'| translate}}</b></h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center no-padding-top">
                                    <div class="input-group">
                                        <span class=" sub-addon" ></span>
                                        <input type="text" class="form-control padding-left-right-2" uib-datepicker-popup="{{'DATE_FORMAT' | translate}}" 
                                               onkeydown="return false" unselectable="on" ondrop="return false;" onselectstart="return false;" onmousedown="return false;"
                                               ng-click="datePopup(0)"  ng-model="searchObj.fromRequestDate" 
                                               is-open="datePopupOpen[0]" datepicker-options="options.dateOptions[0]" 
                                               current-text="{{'TODAY' | translate}}" clear-text="{{'RESET' | translate}}"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default addon-btn" ng-click="datePopup(0)" >
                                                <i class="adjust-line fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center no-padding-top">
                                    <div class="input-group">
                                        <span class=" sub-addon" ></span>
                                        <input type="text" class="form-control padding-left-right-2" uib-datepicker-popup="{{'DATE_FORMAT' | translate}}" 
                                               onkeydown="return false" unselectable="on" ondrop="return false;" onselectstart="return false;" onmousedown="return false;"
                                               ng-click="datePopup(1)" ng-model="searchObj.toRequestDate" name="toRequestDate"
                                               is-open="datePopupOpen[1]" ng-disabled="!searchObj.fromRequestDate" ng-required="searchObj.fromRequestDate"
                                               datepicker-options="options.dateOptions[1]"
                                               current-text="{{'TODAY' | translate}}" clear-text="{{'RESET' | translate}}"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default padding-left-right-4 addon-btn-demmed" ng-click="datePopup(1)" ng-disabled="!searchObj.fromRequestDate">
                                                <i class="adjust-line fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center">
                                    <select class="form-control" name="packageType" ng-model="searchObj.packageType"
                                            ng-options="type.packageType  as type.packageType |    translate for type in packageTypes" ng-change="filter()">
                                        <option  value="">{{'PACKAGE_TYPE'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group center">
                                    <select class="form-control" name="requestStatus" ng-model="searchObj.requestStatus" ng-change="filter()"
                                            ng-options=" status |           translate for status in packageStatuses">
                                        <option  value="">{{'PACKAGE_STATUS'|translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20 margin-bottom-15">
                            <div class="col-xs-12">
                                <div class="col-xs-5">
                                    <button class="btn btn-default btn-primary no-border-radius" ng-click="toggle()">{{'APPLY'| translate}}</button>
                                </div>
                                <div class="col-xs-5 col-xs-offset-2">
                                    <div class="reset-button-holder">
                                        <a>{{'RESET_FILTER'| translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>