<script src="archived/js/archivedDeliveryController.js" type="text/javascript"></script>
<script src="archived/js/archivedDeliveryFilterDirective.js" type="text/javascript"></script>
<div class="lm-container-holder">
    <div class="lm-container">
        <div class="pre-table-container">
            <div class="row entity-title margin-bottom-15">
                <p>{{'ARCHIVED_DELIVERY'| translate}}</p>
            </div>
            <archived-delivery-filter-directive filter-search="filter"></archived-delivery-filter-directive>
        </div>
        <div class="row lm-grid margin-bottom-15 full-height">
            <div class="col-md-12">
                <div ng-show='showSpinner'>
                    <three-bounce-spinner class='spinner-container'></three-bounce-spinner>
                </div>
                <div class="grid" ng-if="lang === 'ar'" dir='rtl' ui-if="deliveryRequestOptions.data.length>0" 
                     ui-grid="deliveryRequestOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns
                     ui-grid-auto-resize ng-style="getTableHeight()">    
                </div>
                <div class="grid" ng-if="lang === 'en'"  ui-if="deliveryRequestOptions.data.length>0" 
                     ui-grid="deliveryRequestOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns
                     ui-grid-auto-resize ng-style="getTableHeight()">    
                </div>
            </div>
        </div>
    </div>