<!--
TODO: change first and last name ng-pattern
TODO: add min leangth first and last name 
-->
<div class="lm-popup">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{{ 'ADD_USER' | translate}}</h3>
    </div>
    <form name="addEmployeeForm">
        <div class="modal-body lm-popup-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <div class="form-group center-block">
                            <div class="error-container" id="fileError">
                                <div ng-show="!imageValidate() && !imagesErrorsExist() && afterSubmit">{{
                                            'IMAGE_REQUIRED' | translate}}*
                                </div>
                                <div>{{serverError.personalPhotoId.toString()}}</div>
                            </div>
                            <file-uploader-holder type="user_image"></file-uploader-holder>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 padding-top-23">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="error-container">
                                        <div ng-show="addEmployeeForm.firstName.$error.required && afterSubmit">{{
                                                    'FIRST_NAME' | translate}}{{ 'REQUIRED' | translate}}*
                                        </div>

                                        <div class="lm-errors" ng-show="addEmployeeForm.firstName.$dirty && addEmployeeForm.firstName.$invalid">
                                            <div ng-show="addEmployeeForm.firstName.$error.pattern">{{ 'FIRST_NAME' | translate}} {{ 'INVALID' | translate}}</div>
                                            <div ng-show="addEmployeeForm.firstName.$error.minlength && !addEmployeeForm.firstName.$error.pattern">{{ 'FIRST_NAME' | translate}} {{ 'SHORT' | translate}}</div>
                                            <div ng-show="addEmployeeForm.firstName.$error.maxlength && !addEmployeeForm.firstName.$error.pattern">{{ 'FIRST_NAME' | translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                        </div>
                                        <div ng-hide="addEmployeeForm.firstName.key">{{serverError.firstName.toString()}}</div>
                                        <div ng-hide="addEmployeeForm.firstName.key">{{serverError.username.toString()}}</div>
                                        <div ng-hide="addEmployeeForm.firstName.key">{{serverError.userId.toString()}}</div>
                                        <div ng-hide="addEmployeeForm.firstName.key">{{serverError.hubId.toString()}}</div>
                                    </div>
                                    <input type="text" class="form-control" required
                                           placeholder="{{'FIRST_NAME'| translate}} *" ng-maxlength="32"
                                           ng-minlength="2"
                                           ng-model="addEmployeeObj.firstName" name="firstName"
                                           ng-pattern="/^[a-zA-Z\-\ \u0621-\u064A\u0660-\u0669]*$/"
                                           ng-keydown="backendVisibilityService.checkKey(addEmployeeForm.firstName, serverError)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="error-container">
                                        <div ng-show="addEmployeeForm.lastName.$error.required && afterSubmit">
                                            {{'LAST_NAME'| translate}}{{ 'REQUIRED' | translate}} *
                                        </div>

                                        <div ng-show="addEmployeeForm.lastName.$dirty && addEmployeeForm.lastName.$invalid">
                                            <div ng-show="addEmployeeForm.lastName.$error.pattern">{{'LAST_NAME'| translate}}{{ 'INVALID' | translate}}</div>
                                            <div ng-show="addEmployeeForm.lastName.$error.minlength && !addEmployeeForm.lastName.$error.pattern">{{'LAST_NAME'| translate}}{{ 'SHORT' | translate}}</div>
                                            <div ng-show="addEmployeeForm.lastName.$error.maxlength && !addEmployeeForm.lastName.$error.pattern">{{'LAST_NAME'| translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                        </div>
                                        <div ng-hide="addEmployeeForm.lastName.key">{{serverError.lastName.toString()}}</div>
                                    </div>
                                    <input type="text" class="form-control" required placeholder="{{'LAST_NAME'| translate}} *" 
                                           ng-model="addEmployeeObj.lastName" name="lastName" ng-minlength="2"
                                           ng-maxlength="32"  ng-pattern="/^[a-zA-Z\-\ \u0621-\u064A\u0660-\u0669]*$/" ng-keydown="backendVisibilityService.checkKey(addEmployeeForm.lastName, serverError)">

                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="error-container">
                                        <div ng-show="addEmployeeForm.countryCode.$error.required && afterSubmit">{{'COUNTRY_CODE'| translate}}{{ 'REQUIRED' | translate}} *</div>
                                        <div>{{serverError.countryCodeId.toString()}}</div>
                                    </div>
                                    <select class="form-control" name="countryCode" ng-model = "addEmployeeObj.countryCodeId"
                                            ng-options="countryCode.id as countryCode.name+' ('+countryCode.code+')' for countryCode in countryCodes" required>
                                        <option disabled hidden value="">{{'SELECT_COUNTRY_CODE'| translate}}*</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="error-container">
                                        <div ng-show="addEmployeeForm.phone.$error.required && afterSubmit">{{
                                                    'MOBILE_NUMBER' | translate}}{{ 'REQUIRED' | translate}} *
                                        </div>

                                        <div ng-show="addEmployeeForm.phone.$dirty && addEmployeeForm.phone.$invalid">
                                            <div ng-show="addEmployeeForm.phone.$error.pattern">{{ 'MOBILE_NUMBER' | translate}}{{ 'INVALID' | translate}}</div>
                                            <div ng-show="addEmployeeForm.phone.$error.maxlength && !addEmployeeForm.phone.$error.pattern">{{ 'MOBILE_NUMBER' | translate}}{{ 'MAX_CHARACTERS' | translate:'{ number: 15}'}}</div>
                                        </div>
                                        <div ng-hide="addEmployeeForm.phone.key">{{serverError.mobile.toString()}}</div>
                                    </div>
                                    <input type="text" class="form-control" required
                                           placeholder="{{ 'MOBILE_NUMBER' | translate}} *" ng-maxlength="15"
                                           ng-model="addEmployeeObj.phone" name="phone" ng-pattern="/^\d+$/"
                                           ng-keydown="backendVisibilityService.checkKey(addEmployeeForm.phone, serverError)">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="error-container">
                                        <div ng-show="addEmployeeForm.email.$error.required && afterSubmit">{{
                                                    'EMAIL_ADDRESS' | translate}}{{ 'REQUIRED' | translate}} *
                                        </div>

                                        <div ng-show="addEmployeeForm.email.$dirty && addEmployeeForm.email.$invalid">
                                            <div ng-show="addEmployeeForm.email.$error.pattern && !addEmployeeForm.email.$error.required">{{ 'EMAIL_ADDRESS' | translate}} {{ 'INVALID' | translate}}</div>
                                            <div ng-show="addEmployeeForm.email.$error.maxlength && !addEmployeeForm.email.$error.pattern">{{ 'EMAIL_ADDRESS' | translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                        </div>
                                        <div ng-hide="addEmployeeForm.email.key">{{serverError.email.toString()}}</div>
                                    </div>
                                    <input type="email" class="form-control" required autocomplete="off"
                                           placeholder="{{ 'EMAIL_ADDRESS' | translate}} *"
                                           ng-model="addEmployeeObj.email" name="email" ng-maxlength="32"
                                           ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9.]+@[a-zA-Z]+\.[a-zA-Z]{2,5}$/"
                                           ng-keydown="backendVisibilityService.checkKey(addEmployeeForm.email, serverError)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="addEmployeeForm.password.$error.required && afterSubmit">{{'PASSWORD'|
                                    translate}}{{ 'REQUIRED' | translate}} *
                                </div>

                                <div ng-show="addEmployeeForm.password.$dirty && addEmployeeForm.password.$invalid">

                                    <div ng-show="addEmployeeForm.password.$error.minlength && !addEmployeeForm.password.$error.pattern">{{'PASSWORD'| translate}} {{ 'SHORT' | translate}}</div>
                                    <div ng-show="addEmployeeForm.password.$error.maxlength && !addEmployeeForm.password.$error.pattern">{{'PASSWORD'| translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                </div>
                                <div ng-hide="addEmployeeForm.password.key">{{serverError.password.toString()}}</div>
                            </div>
                            <input type="password" class="form-control password-form-input" required placeholder="{{'PASSWORD'| translate}} *"
                                   ng-model="addEmployeeObj.password" name="password" ng-minlength="8" autocomplete="off"
                                   ng-maxlength="14"   ng-keydown="backendVisibilityService.checkKey(addEmployeeForm.password, serverError)">

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="addEmployeeForm.nationalId.$error.required && afterSubmit">{{
                                            'NATIONAL_ID' | translate }} {{ 'REQUIRED' | translate}} *
                                </div>
                                <div ng-show="addEmployeeForm.nationalId.$dirty && addEmployeeForm.nationalId.$invalid">
                                    <div ng-show="addEmployeeForm.nationalId.$error.pattern">{{ 'NATIONAL_ID' | translate }} {{ 'INVALID' | translate}}</div>
                                    <div ng-show="addEmployeeForm.nationalId.$error.maxlength">{{ 'NATIONAL_ID' | translate }}  {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                </div>
                                <div ng-hide="addEmployeeForm.nationalId.key">{{serverError.nationalId.toString()}}</div>
                            </div>
                            <input type="text" class="form-control" required placeholder="{{ 'NATIONAL_ID' | translate }} *" 
                                   ng-pattern="/^[a-zA-Z0-9\ \u0621-\u064A\u0660-\u0669]*$/" name="nationalId" ng-maxlength="32"
                                   ng-model="addEmployeeObj.nationalId" ng-keydown="backendVisibilityService.checkKey(addEmployeeForm.nationalId, serverError)">

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <div class="error-container">
                                <div>
                                    <div ng-show="addEmployeeForm.userTypeId.$error.required && afterSubmit">{{
                                                'SELECT_USER_TYPE' | translate}} {{ 'REQUIRED' | translate}}*
                                    </div>
                                    {{serverError.userTypeId.toString()}}
                                </div>
                            </div>
                            <div class="form-group">
                                <select ng-change="setGroupName(addEmployeeObj.userTypeId)" class="form-control user-type"
                                        ng-model="addEmployeeObj.userTypeId" name="userTypeId"
                                        ng-options="group.value as group.name |     translate for group in groups" required>
                                    <option disabled hidden value="">{{ 'SELECT_USER_TYPE' | translate}} *</option>
                                </select>
                            </div>
                        </div>
                        <!--<pre>Selected date is: <em>{{addEmployeeObj.drivingLicenseExpDate| date:'fullDate'}}</em></pre>-->
                    </div>
                </div>
                <div class="row" ng-show="addEmployeeObj.userTypeId === 6">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="addEmployeeForm.drivingLicenseTypeId.$error.required && afterSubmit">{{
                                            'LICENSE_TYPE' | translate}}{{ 'REQUIRED' | translate}}*
                                </div>
                                <div>{{serverError.drivingLicenseTypeId.toString()}}</div>
                            </div>
                            <select ng-change="getLicenseTypeName(addEmployeeObj.drivingLicenseTypeId)"
                                    class="form-control" ng-model="addEmployeeObj.drivingLicenseTypeId"
                                    name="drivingLicenseTypeId"
                                    ng-options="type.drivingLicenseTypeId as type.licenseType for type in licenseType"
                                    ng-required="addEmployeeObj.userTypeId == 6">
                                <option disabled hidden value="">{{ 'LICENSE_TYPE' | translate}} *</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="addEmployeeForm.drivingLicenseId.$error.maxlength">{{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                <div ng-show="addEmployeeForm.drivingLicenseId.$error.pattern">{{ 'LICENSE_ID' | translate}}{{ 'INVALID' | translate}}</div>
                                <div ng-show="addEmployeeForm.drivingLicenseId.$error.required && afterSubmit">{{ 'LICENSE_ID' | translate}}{{ 'REQUIRED' | translate}}*</div>

                                <div ng-hide="addEmployeeForm.drivingLicenseId.key">
                                    {{serverError.drivingLicenseId.toString()}}
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="{{ 'LICENSE_ID' | translate}} *"
                                   ng-maxlength="32" ng-pattern="/^[a-zA-Z0-9\ \u0621-\u064A\u0660-\u0669]*$/"
                                   ng-model="addEmployeeObj.drivingLicenseId" name="drivingLicenseId"
                                   ng-required="addEmployeeObj.userTypeId == 6"
                                   ng-keydown="backendVisibilityService.checkKey(addEmployeeForm.drivingLicenseId, serverError)">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="error-container">
                                <div>
                                    <div ng-show="addEmployeeForm.drivingLicenseExpDate.$error.required && afterSubmit">
                                        {{ 'LICENSE_EXPIRY_DATE' | translate}}{{ 'REQUIRED' | translate}} *
                                    </div>
                                    {{serverError.drivingLicenseExpDate.toString()}}
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" onpaste="return false" ondrag="return false" ondrop="return false;"
                                       uib-datepicker-popup="{{'DATE_FORMAT'| translate}}"
                                       is-open="datePopup.opened" onkeydown="return false"
                                       class="form-control" placeholder="{{ 'LICENSE_EXPIRY_DATE' | translate}}*"
                                       ng-click="openDatePopup()"
                                       datepicker-options="dateOptions" current-text="{{'TODAY'| translate}}"
                                       clear-text="{{'RESET'| translate}}" name="drivingLicenseExpDate"
                                       ng-model="addEmployeeObj.drivingLicenseExpDate"
                                       ng-required="addEmployeeObj.userTypeId == 6">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePopup()">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!--<pre>Selected date is: <em>{{addEmployeeObj.drivingLicenseExpDate| date:'fullDate'}}</em></pre>-->
                    </div>

                </div>
                <div class="row" super-user>
                    <div class='col-md-12' ng-show="addEmployeeObj.userTypeId == 3 || addEmployeeObj.userTypeId == 5 || addEmployeeObj.userTypeId == 6">

                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="addEmployeeForm.singleHub.$error.required && afterSubmit">{{'BUILDING'| translate}}{{ 'REQUIRED' | translate}} *</div>
                                <div>{{serverError.hubs.toString()}}</div>
                            </div>
                            <select ng-change="changeHub()" class="form-control" name="singleHub" ng-model = "addEmployeeObj.singleHub"
                                    ng-options="hub.id as hub.name for hub in allHubs" ng-required="(addEmployeeObj.userTypeId == 3 || addEmployeeObj.userTypeId == 5 || addEmployeeObj.userTypeId == 6) && (userInfoService.isSuperUser())">
                                <option disabled hidden value="">{{'SELECT_BUILDING'| translate}}*</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="row" ng-show="addEmployeeObj.userTypeId !== 6">
                    <div class='col-md-12 tags-inputs no-margin' ng-show="addEmployeeObj.userTypeId == 4" super-user>
                        <div class="error-container">
                            <div>{{serverError.hubs.toString()}}</div>
                        </div>
                        <ui-select multiple tagging tagging-label="false"
                                   ng-model="allHubs.selected"
                                   theme="bootstrap"
                                   reset-search-input="true"
                                   on-select="changeHub()"
                                   on-remove="changeHub()"
                                   style="width: 100%;"
                        >
                            <ui-select-match allow-clear="true" placeholder="{{'SELECT_BUILDING'| translate}}...">
                                {{$item.name}}
                            </ui-select-match>
                            <ui-select-choices repeat=" hub in allHubs | filter: $select.search"
                                               refresh-delay="0">
                                <div ng-bind-html=" hub.name| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class='col-md-12 margin-top-20 tags-inputs'>
                        <ui-select multiple tagging tagging-label="false"
                                   ng-model="allRoles.selected"
                                   theme="bootstrap"
                                   reset-search-input="true"
                                   on-change="a"
                                   style="width: 100%;"
                                   >
                            <ui-select-match allow-clear="true" placeholder="{{'SELECT_ROLE'| translate}}...">
                                {{$item.name}}
                            </ui-select-match>
                            <ui-select-choices repeat=" role in allRoles | filter: $select.search"
                                               refresh-delay="0">
                                <div ng-bind-html=" role.name| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>


                <div class="row margin-bottom-15">
                    <div class="col-md-12">
                        <div class="error-container">
                            <div ng-show="addEmployeeForm.description.$error.maxlength">{{'DESCRIPTION'| translate}} {{ 'LONG' | translate}}</div>
                            {{serverError.description.toString()}}
                        </div>
                        <textarea class="form-control" ng-maxlength="500" placeholder="{{ 'DESCRIPTION_OPTIONAL' | translate }}" rows="3"
                                  ng-model="addEmployeeObj.description" name="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn lm-btn blue-btn" id="addEmployeeBtn" type="button" ng-disabled="disableBTN" ng-click="create()">
                    {{'SUBMIT'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>
