<div class="lm-popup del-popup">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    <h3 class="modal-title">{{'DELETE_BUILDING' | translate}}</h3>
</div>
<div class="modal-body lm-popup-body">
   {{'DELETE_CONFIRMATION' | translate}}
</div>
<div class="modal-footer">
        <!--<button class="btn lm-btn dark-btn" id="deleteBuildingBtnCancel" type="button" ng-click="cancel()">Cancel</button>-->
        <button class="btn lm-btn blue-btn" id="deleteBuildingBtn" type="button" 
                ng-disabled="requestProcessing" ng-click="del()">{{'DELETE' | translate}}</button>
</div>
</div>