<div class="lm-popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>        
        <h3 class="modal-title">{{ 'CHANGE_PASSWORD' | translate}}</h3>
    </div>
    <form name="changePasswordForm">
        <div class="modal-body lm-popup-body">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="changePasswordForm.oldpassword.$error.required && afterSubmit">{{'OLD_PASSWORD'|
                                    translate}}{{ 'REQUIRED' | translate}} *
                                </div>

                                <div ng-show="changePasswordForm.oldpassword.$dirty && changePasswordForm.oldpassword.$invalid">

                                    <div ng-show="changePasswordForm.oldpassword.$error.minlength && !changePasswordForm.oldpassword.$error.pattern">{{'PASSWORD'| translate}} {{ 'SHORT' | translate}}</div>
                                    <div ng-show="changePasswordForm.oldpassword.$error.maxlength && !changePasswordForm.oldpassword.$error.pattern">{{'PASSWORD'| translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                </div>
                                <div ng-hide="changePasswordForm.oldpassword.key">{{serverError.oldPassword.toString()}}</div>
                            </div>
                            <input type="password" class="form-control password-form-input" required placeholder="{{'OLD_PASSWORD'| translate}} *"
                                   ng-model="changePasswordObj.oldPassword" name="oldpassword" ng-minlength="8" autocomplete="off"
                                   ng-maxlength="32"  ng-keydown="backendVisibilityService.checkKey(changePasswordForm.oldpassword, serverError)">

                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="changePasswordForm.newpassword.$error.required && afterSubmit">{{'NEW_PASSWORD'|
                                    translate}}{{ 'REQUIRED' | translate}} *
                                </div>
                                <div ng-if="afterSubmit === true && doesPasswordsMatch()">
                                    {{'PASSWORDS_DONT_MATCH'| translate}}
                                </div>

                                <div ng-show="changePasswordForm.newpassword.$dirty && changePasswordForm.newpassword.$invalid">

                                    <div ng-show="changePasswordForm.newpassword.$error.minlength && !changePasswordForm.newpassword.$error.pattern">{{'PASSWORD'| translate}} {{ 'SHORT' | translate}}</div>
                                    <div ng-show="changePasswordForm.newpassword.$error.maxlength && !changePasswordForm.newpassword.$error.pattern">{{'PASSWORD'| translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                </div>
                                <div ng-hide="changePasswordForm.newpassword.key">{{serverError.newpassword.toString()}}</div>
                            </div>
                            <input type="password" class="form-control password-form-input ok-password" ng-required="true" placeholder="{{'NEW_PASSWORD'| translate}} *"
                                   ng-model="changePasswordObj.newPassword" name="newpassword" ng-minlength="8" autocomplete="off"
                                   ng-class="(changePasswordForm.newpassword.$dirty && changePasswordForm.newpassword.$invalid) ? 'error' : ''" id="password"
                                   ng-maxlength="32" >

                            <!--<input type="password" class="form-control ok-password" ng-class="(changePasswordForm.newpassword.$dirty && changePasswordForm.newpassword.$invalid) ? 'error' : ''" id="password" name="newpassword" ng-required="true" ng-model="newPassword">-->

                            <div class="label password-count" ng-class="changePasswordObj.newPassword.length > 7 ? 'label-success' : 'label-danger'" ng-cloak>{{ changePasswordObj.newPassword | passwordCount:7 }}</div>
                            <div class="strength-meter">
                                <div class="strength-meter-fill" data-strength="{{passwordStrength}}"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <div class="error-container">
                                <div ng-show="changePasswordForm.repeatedpassword.$error.required && afterSubmit">{{'CONFIRM_PASSWORD'|
                                    translate}}{{ 'REQUIRED' | translate}} *
                                </div>

                                <div ng-show="changePasswordForm.repeatedpassword.$dirty && changePasswordForm.repeatedpassword.$invalid">

                                    <div ng-show="changePasswordForm.repeatedpassword.$error.minlength && !changePasswordForm.repeatedpassword.$error.pattern">{{'PASSWORD'| translate}} {{ 'SHORT' | translate}}</div>
                                    <div ng-show="changePasswordForm.repeatedpassword.$error.maxlength && !changePasswordForm.repeatedpassword.$error.pattern">{{'PASSWORD'| translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                </div>
                                <div ng-hide="changePasswordForm.repeatedpassword.key">{{serverError.repeatedpassword.toString()}}</div>
                            </div>
                            <input type="password" class="form-control password-form-input" required placeholder="{{'CONFIRM_PASSWORD'| translate}} *"
                                   ng-model="changePasswordObj.repeatedPassword" name="repeatedpassword" ng-minlength="8" autocomplete="off"
                                   ng-maxlength="32" ng-keydown="backendVisibilityService.checkKey(changePasswordForm.repeatedpassword, serverError)">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top-10">
                <button class="btn lm-btn blue-btn" id="addDeviceBtn" 
                        type="button" ng-disabled="requestProcessing" 
                        ng-click="submit()" >{{'SUBMIT'|translate}}</button>
            </div>
        </div>
    </form>
</div>