<div class="lm-popup editForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">{{'EDIT_USER'| translate}}</h3>
    </div>
    <form name="editEmployeeForm">
        <div class="modal-body lm-popup-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 ">
                        <div class="form-group center-block">
                            <div id="fileError">
                                <span class="input-label">{{'IMAGE'| translate}}</span>
                                <div class="error-container" ng-style="!ImageLoaded && {'opacity':'0'}">
                                    <div ng-show="!imageValidate() && !imagesErrorsExist()"> {{ 'REQUIRED' | translate}} *</div>
                                    <div>{{serverError.personalPhoto.toString()}}</div>
                                </div>
                            </div>
                            <file-uploader-holder ng-style="!ImageLoaded && {'opacity':'0'}"
                                                  type="user_image" on-update="mode()">
                            </file-uploader-holder>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 padding-top-23">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="input-label" ng-class="{'red' : editEmployeeForm.firstName.$invalid}">{{'FIRST_NAME'| translate}}</span>
                                    <div class="error-container">
                                        <div ng-show="editEmployeeForm.firstName.$dirty && editEmployeeForm.firstName.$invalid">
                                            <div ng-show="editEmployeeForm.firstName.$error.required">{{ 'REQUIRED' |
                                                translate}}*
                                            </div>
                                            <div ng-show="editEmployeeForm.firstName.$error.minlength && !editEmployeeForm.firstName.$error.pattern">
                                                {{ 'SHORT' | translate}}
                                            </div>
                                            <div ng-show="editEmployeeForm.firstName.$error.maxlength && !editEmployeeForm.firstName.$error.pattern">
                                                {{ 'LONG' | translate}}
                                            </div>
                                            <div ng-show="editEmployeeForm.firstName.$error.pattern" class="error-msg">
                                                {{'INVALID'| translate}}
                                            </div>
                                        </div>
                                        <div ng-hide="editEmployeeForm.firstName.key">
                                            {{serverError.firstName.toString()}}
                                        </div>
                                        <div ng-hide="editEmployeeForm.firstName.key">
                                            {{serverError.username.toString()}}
                                        </div>
                                    </div>
                                    <input ng-change="mode()" type="text" class="form-control" required
                                           placeholder="{{'FIRST_NAME'| translate}}*" ng-maxlength="32" ng-minlength="2"
                                           ng-model="editEmployeeObj.firstName" name="firstName"
                                           ng-pattern="/^[a-zA-Z\-\ \u0621-\u064A\u0660-\u0669]*$/"
                                           ng-keydown="backendVisibilityService.checkKey(editEmployeeForm.firstName, serverError)">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="input-label" ng-class="{'red' : editEmployeeForm.lastName.$invalid}">{{'LAST_NAME'| translate}}</span>
                                    <div class="error-container">
                                        <div ng-show="editEmployeeForm.lastName.$dirty && editEmployeeForm.lastName.$invalid">
                                            <div ng-show="editEmployeeForm.lastName.$error.required">{{ 'REQUIRED' |
                                                translate}} *
                                            </div>
                                            <div ng-show="editEmployeeForm.lastName.$error.pattern">{{'INVALID'|
                                                translate}}
                                            </div>
                                            <div ng-show="editEmployeeForm.lastName.$error.minlength && !editEmployeeForm.lastName.$error.pattern">
                                                {{ 'SHORT' | translate}}
                                            </div>
                                            <div ng-show="editEmployeeForm.lastName.$error.maxlength && !editEmployeeForm.lastName.$error.pattern">
                                                {{ 'LONG' | translate}}
                                            </div>
                                        </div>
                                        <div ng-hide="editEmployeeForm.lastName.key">
                                            {{serverError.lastName.toString()}}
                                        </div>
                                    </div>
                                    <input ng-change="mode()" type="text" class="form-control" required
                                           placeholder="{{'LAST_NAME'| translate}} *"
                                           ng-model="editEmployeeObj.lastName" name="lastName"
                                           ng-maxlength="32" ng-minlength="2"
                                           ng-pattern="/^[a-zA-Z\-\ \u0621-\u064A\u0660-\u0669]*$/"
                                           ng-keydown="backendVisibilityService.checkKey(editEmployeeForm.lastName, serverError)">

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="input-label" ng-class="{'red' : editEmployeeForm.phone.$invalid}">{{ 'MOBILE_NUMBER' | translate}}</span>
                                    <div class="error-container">
                                        <div ng-show="editEmployeeForm.phone.$dirty && editEmployeeForm.phone.$invalid">
                                            <div ng-show="editEmployeeForm.phone.$error.required">{{ 'REQUIRED' | translate}} *</div>
                                            <div ng-show="editEmployeeForm.phone.$error.pattern">{{'INVALID'| translate}}</div>
                                            <div ng-show="editEmployeeForm.phone.$error.maxlength && !editEmployeeForm.phone.$error.pattern">{{ 'MAX_CHARACTERS' | translate:'{ number: 15}'}}</div>
                                        </div>
                                        <div ng-hide="editEmployeeForm.phone.key">{{serverError.mobile.toString()}}</div>
                                    </div>
                                    <input ng-change="mode()" type="text" class="form-control" required placeholder="{{ 'MOBILE_NUMBER' | translate}} *" 
                                           ng-maxlength="15" ng-model="editEmployeeObj.phone" name="phone" ng-pattern="/^\d+$/" ng-keydown="backendVisibilityService.checkKey(editEmployeeForm.phone, serverError)">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="input-label" ng-class="{'red' : editEmployeeForm.email.$invalid}">{{ 'EMAIL_ADDRESS' | translate}}</span>
                                    <div class="error-container">
                                        <div ng-show="editEmployeeForm.email.$error.required"> {{ 'REQUIRED' |
                                            translate}} *
                                        </div>

                                        <div ng-show="editEmployeeForm.email.$dirty && editEmployeeForm.email.$invalid">
                                            <div ng-show="editEmployeeForm.email.$error.pattern && !editEmployeeForm.email.$error.required">{{ 'FORMAT_error' | translate}}</div>
                                            <div ng-show="editEmployeeForm.email.$error.maxlength && !editEmployeeForm.email.$error.pattern">{{ 'EMAIL_ADDRESS' | translate}} {{ 'MAX_CHARACTERS' | translate:'{ number: 32}'}}</div>
                                        </div>
                                        <div ng-hide="editEmployeeForm.email.key">{{serverError.email.toString()}}</div>
                                    </div>
                                    <input ng-change="mode()" type="email" class="form-control" required
                                           placeholder="{{ 'EMAIL_ADDRESS' | translate}}*"
                                           ng-model="editEmployeeObj.email" name="email" ng-maxlength="32"
                                           ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9.]+@[a-zA-Z]+\.[a-zA-Z]{2,5}$/"
                                           ng-keydown="backendVisibilityService.checkKey(editEmployeeForm.email, serverError)">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--            <button class="btn lm-btn dark-btn" id="editEmployeeBtnCancel" type="button" ng-click="cancel()">Cancel</button>-->
                <button class="btn lm-btn blue-btn" id="editEmployeeBtn"
                        type="button" ng-disabled="editEmployeeForm.$invalid || !imageValidate() || !editMode || disableBTN"
                        ng-click="edit()">{{'SUBMIT'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>
